<header>
	<nav class="flex justify-around items-center">
		<a href="/wiki" class="all-inherit" title="茜悦">
			<img src="/favicon.png" title="茜悦" />
			<p>
				<span class="text-white text-2xl">茜悦</span>
				<span class="text-white text-base">Wiki</span>
			</p>
		</a>
		<form id="search">
			<span class="material-icons-outlined"> search </span>
		</form>
	</nav>
</header>
