<meta charset="utf-8" />
<%
	if (page.title) {
		var title = `${config.title} | ${page.title}`;
	}else {
		var title = config.title;
	}

%>
<title><%= title %></title>
<meta name="title" content="茜悦世界观" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
	name="keywords"
	content="Xiyue,SharpIce,Furry,Worldview,茜悦,锐冰,锐冰龙,世界观"
/>
<link rel="icon" type="image/png" sizes="256x256" href="/favicon.ico" />
<link rel="stylesheet" href="/wiki/tailwind.css" />
<link rel="stylesheet" href="/wiki/style.css" />
<link rel="stylesheet" href="/common/common.css" />
<script src="/common/common.js" type="module"></script>
<script src="/wiki/script.js" type="module"></script>
